.shareButtonRoot {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  background: #404040;
  padding: 5px 12px;
  border: 1px solid #505050;
}

.shareButtonRoot:hover {
  background: #505050;
}

.shareButtonRoot span {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.shareButtonRoot i,
.shareButtonRoot:hover i {
  color: #ffffff !important;
}

.historyButtonRoot {
  width: 180px;
  border: 1px solid #404040;
  background: #2d2d2d;
  color: #ffffff;
}

.historyButtonRoot:hover {
  border: 1px solid #505050;
  background: #404040;
}

.historyButtonRoot:active {
  border: 1px solid #505050;
  background: #404040;
}

@media (max-width: 480px) {
  .shareButtonRoot {
    width: auto;
    padding: 5px 8px;
  }

  .historyButtonRoot {
    width: auto;
    padding: 0 8px;
  }
}
